/*
This file determines how everything is displayed in your post editor in WP-admin.
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, canvas, details, figure, figcaption, hgroup, menu, header, footer, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
a img {
	border: 0;
}
body {
	height: 100%;
	margin: 20px 40px;  
	font-family: 'Open Sans', sans-serif;  
}
.hide {
	display: none;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
br {
    margin: 0 0 5px;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}
tr {
	font-size: 1.4em;
	line-height: 150%;	
}
th {
	padding: 0.1em;
}
p {
    margin-bottom: 0.6em;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
h1 {
    font-size: 2.8em;
    letter-spacing: 1px;
    width: 100%;
    line-height: 150%;	
} 
.big {
    font-size: 2.8em;
    line-height: 150%;	
}
h2 { 
	font-size: 2.2em;
	line-height: 1.2em;
	letter-spacing: -1px;
	clear: left;
    padding-top: 1em;
}
h1, h3 {
	padding-top: 0.5em;
}
h3, .medi {
    font-size: 1.8em;
    line-height: 150%;
  	padding: 0 0 0.1em;
}
.normal, h4, h5 {
    font-size: 1.4em;
    line-height: 150%;
}
h4, h5, h6 {
    padding: 0 0 0.1em;
}
h6 {
	font-size: 0.8em;
	line-height: 150%;
}
.small {
	font-size: 0.7em;
}
.serif, cite, blockquote, {
    font-family: georgia, times, serif;
}
.monospace, var, code, code, kbd, tt, samp, pre {
	font-family: courier new, courier, monospace;
}
.ita, em, i {
	font-style: italic;
}
abbr {
    border-bottom: 1px dotted;
    cursor: help;
}
.crossed {
    text-decoration: line-through;
}
blockquote {
    font-style: italic;
    padding: 1em;
}
table {
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-size: 0.8em;
}
th, td {
    padding: 1em;
    text-align: left;
    vertical-align: top;
}
tr {
    font-size: 1.2em;
    line-height: 150%;
}
thead th, b, strong, dt {
    font-weight: bold;
}
address, pre, ul, ol, dl, dd, table {
    margin-bottom: 0.4em;
}
hr {
    margin: 1em auto;
    width: 60%;
}
sup, sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    top: 0.5ex;
}
sup {
    bottom: 1ex;
}
a, a:link, a:visited {
	text-decoration: underline;
	color: #333;
}
img {
    height: auto;
    max-width: 100%;
    padding: 0.2em 0 0.6em;	
}
.wp-caption img {
    padding: 0.2em 0 0;		
}
img.wp-smiley {
    padding: 0 0.1em;
}
.wp-caption {
    max-width: 100%;
    padding: 0.5em;
    text-align: center;
}
.wp-caption img {
	margin: 0;
}
.wp-caption-text {
	margin: 0;
	font-size: 1em;
}
ol, ul {
    margin: 0.6em 1em;
    padding-left: 0.5em;
}
.tags {
	float: left;
}
address, dfn, cite, em, i {
    font-style: italic;
}
mark, ins {
    border: 1px dotted;
	text-decoration: none;
}
pre {
    padding-left: 2em;
    white-space: pre-wrap;
    word-wrap: break-word;
}
ol {
    list-style: outside none decimal;
}
ul li, ol li {
    padding: 0.2em 0;
}
.sticky {
    border-left-style: solid;
    border-left-width: 2px;
}
.gallery {
	margin-bottom: 1.6em;
}
.gallery-item {
	display: inline-block;
	padding: 1.8%;
	text-align: center;
	vertical-align: top;
	width: 100%;
    box-sizing: border-box;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-icon img {
    margin: 0 auto;
    padding: 0;
}
.gallery-caption {
	display: block;
	line-height: 150%;
	padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}
/*Customisable css - overriden by the theme settings*/
body, input, textarea {color: #000;} 
input, textarea {border-color: #888;}